In [4]:
import pandas as pd # type: ignore

In [5]:
bookings = pd.read_csv('https://stepik.org/media/attachments/lesson/360344/bookings.csv', sep=';')

In [6]:
bookings_head = bookings.head(5)
bookings_head

,Hotel,Is Canceled,Lead Time,arrival full date,Arrival Date Year,Arrival Date Month,Arrival Date Week Number,Arrival Date Day of Month,Stays in Weekend nights,Stays in week nights,...,Adults,Children,Babies,Meal,Country,Reserved Room Type,Assigned room type,customer type,Reservation Status,Reservation status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03

In [7]:
bookings.shape

(119390, 21)

In [8]:
bookings.dtypes

Hotel                         object
Is Canceled                    int64
Lead Time                      int64
arrival full date             object
Arrival Date Year              int64
Arrival Date Month            object
Arrival Date Week Number       int64
Arrival Date Day of Month      int64
Stays in Weekend nights        int64
Stays in week nights           int64
stays total nights             int64
Adults                         int64
Children                     float64
Babies                         int64
Meal                          object
Country                       object
Reserved Room Type            object
Assigned room type            object
customer type                 object
Reservation Status            object
Reservation status_date       object
dtype: object

In [9]:
rename_columns = {}
for column in bookings.columns:
    rename_columns[column] = column.replace(' ', '_').lower()
bookings.rename(columns=rename_columns, inplace=True)

In [10]:
not_cancel = bookings[bookings['is_canceled'] == 0].groupby('country').size().sort_values(ascending=False).head()
not_cancel

country
PRT    21071
GBR     9676
FRA     8481
ESP     6391
DEU     6069
dtype: int64

In [11]:
bookings[bookings.is_canceled == 0].country.value_counts().head()

country
PRT    21071
GBR     9676
FRA     8481
ESP     6391
DEU     6069
Name: count, dtype: int64

In [12]:
#Ð—Ð°Ð´Ð°Ð½Ð¸Ðµ 2.4.6
bookings.loc[bookings.hotel.isin(['City Hotel', 'Resort Hotel'])].groupby('hotel').stays_total_nights.mean().round(2)

hotel
City Hotel      2.98
Resort Hotel    4.32
Name: stays_total_nights, dtype: float64

In [13]:
#Ð—Ð°Ð´Ð°Ð½Ð¸Ðµ 2.4.7
bookings[bookings.assigned_room_type != bookings.reserved_room_type].shape

(14917, 21)

In [14]:
#Ð—Ð°Ð´Ð°Ð½Ð¸Ðµ 2.4.8
bookings.loc[bookings.arrival_date_year.isin([2016,2017])].groupby('arrival_date_year').arrival_date_month.value_counts()

arrival_date_year  arrival_date_month
2016               October               6203
                   May                   5478
                   April                 5428
                   September             5394
                   June                  5292
                   August                5063
                   March                 4824
                   July                  4572
                   November              4454
                   February              3891
                   December              3860
                   January               2248
2017               May                   6313
                   April                 5661
                   June                  5647
                   July                  5313
                   March                 4970
                   August                4925
                   February              4177
                   January               3681
Name: count, dtype: int64

In [15]:
#Ð—Ð°Ð´Ð°Ð½Ð¸Ðµ 2.4.8
bookings.groupby('arrival_date_year').arrival_date_month.agg(pd.Series.mode)

arrival_date_year
2015    September
2016      October
2017          May
Name: arrival_date_month, dtype: object

In [16]:
bookings.columns

Index(['hotel', 'is_canceled', 'lead_time', 'arrival_full_date',
       'arrival_date_year', 'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'stays_total_nights', 'adults', 'children',
       'babies', 'meal', 'country', 'reserved_room_type', 'assigned_room_type',
       'customer_type', 'reservation_status', 'reservation_status_date'],
      dtype='object')

In [17]:
#Ð—Ð°Ð´Ð°Ð½Ð¸Ðµ 2.4.9
bookings[(bookings.hotel == 'City Hotel') & (bookings.is_canceled == 1)].groupby('arrival_date_year').arrival_date_month.agg(pd.Series.mode)

arrival_date_year
2015    September
2016      October
2017          May
Name: arrival_date_month, dtype: object

In [18]:
#Ð—Ð°Ð´Ð°Ð½Ð¸Ðµ 2.4.10
bookings[['adults','children','babies']].mean()

adults      1.856403
children    0.103890
babies      0.007949
dtype: float64

In [19]:
#Ð—Ð°Ð´Ð°Ð½Ð¸Ðµ 2.4.11
bookings['total_kids'] = bookings['children'] + bookings['babies']
bookings.groupby('hotel').total_kids.mean().round(2)

hotel
City Hotel      0.10
Resort Hotel    0.14
Name: total_kids, dtype: float64

In [20]:
#Ð—Ð°Ð´Ð°Ð½Ð¸Ðµ 2.4.12
bookings['has_kids'] = bookings.total_kids > 0
bookings.groupby('has_kids').is_canceled.value_counts(normalize=True)

has_kids  is_canceled
False     0              0.627787
          1              0.372213
True      0              0.650772
          1              0.349228
Name: proportion, dtype: float64